@use "./base.scss";

// put your custom CSS here!
:root[saved-theme="light"] .dark-mode-img {
    display: none;
}

:root[saved-theme="dark"] .light-mode-img {
    display: none;
}

@font-face {
  font-family: "Reenie Beanie";
  src: url("static/fonts/ReenieBeanie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body[data-slug="index"] .article-title,
body[data-slug=""] .article-title {
    font-family: "Reenie Beanie", var(--headerFont), cursive;
}
